#biy-ext-standard-root{
  position: fixed;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  right: 0;
  padding: 0.4em;
  background: #f8f8f8;
  border-left: 1px solid blue;
  z-index: 99999;
  max-width: 22em;
  width: 20em;
  height: 19em;
  max-height: 20em;
}
#biy-ext-standard-root #app .error{
  color: red;
  padding: 0;
  background: none;
}
#biy-ext-standard-root #app .info{
  color: blue;
  text-decoration: underline;
  padding-top: 0.8em;
}

#biy-ext-standard-root #app .seller-list-container{
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

#biy-ext-root #app .loader svg{
  width:10em;
  height:6em;
}

.ext{
  position: fixed;
  right: 0;
  color: #393b3b;
  background: #f8f8f8;
  border-left: 1px solid blue;
  border-top: 1px solid blue;
  z-index: 99999;
  padding: 0.2em;
}

#biy-ext-prod-calc-analyzer{
  top: 2em;
  border-bottom: 1px solid blue;
}
#biy-ext-prod-calc-analyzer .productContainer{
  display: flex;
  flex-direction: column;
}
